body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Esta es la parte para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #55B379;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-flow: row wrap;
  padding: 25px;
  z-index: 100; /*Mantiene el navbar por encima de las imagenes al hacer scroll*/
}

.navbar a {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
}

.navbar a#l1 {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.navbar img {
  width: 30px;
}

.navbar button {
  background-color: darkgreen; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.navbar button:hover {
  opacity: 0.5;
}

.navbar button:active {
  background-color:#6be794;
}

.navbar a:hover {
color:rgb(16, 17, 17);
}

/* Dropdown */
/* https://www.w3schools.com/css/css_dropdowns.asp */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(59, 117, 70);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

 /* footer */
footer {
  background-color: rgb(86, 82, 82);
  bottom: 0px;
  position:fixed;
  margin-top: auto;
  left:0px;
  width: 100%;
  height: 30px;
  font-style: sans-serif;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  color: white;
}

/* Photo grid */
/* obtenido de https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
  display: flex;
}

.column {
  flex: 160%;
  margin-left: 90px;
  flex-wrap: column;
}

.column img {
  margin-top: 2px;
  width: 80%;
  opacity: 0.7;
}


.column h1 {
  font-size: 30px;
  margin-top: 60px;
  color:darkgreen;
}

.column h2 {
  color:rgb(95, 100, 95);
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
}

.column p {
  color: rgb(86, 78, 78);
}

.column button {
  margin-left: 50px;
  background-color: #55B379; 
  border: none;
  color: rgb(248, 253, 248);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.column button:hover {
  opacity: 0.5;
}

/* contenedor */
#contenedor {
  border-radius: 30px;
  text-align: center;
  background-color: #f7efef;
  margin-top: 50px;
  margin-bottom: 110px;
}

section#section-nosotros {
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
}
section#section-nosotros .column {
margin-top: 70px;
border-radius: 30px;
margin-bottom: 70px;
background-color: #f7efef;
display: flex;
}

section#section-nosotros h1 {
padding: 5px;
margin-top: 70px;
margin-left: 50px;
color:darkgreen;
}

section#section-nosotros h2 {
padding: 5px;
margin-left: 50px;
margin-bottom: 50px;
color:rgb(95, 100, 95);
font-size: 20px;
}
section#us{
display: auto;
}


/* https://codepen.io/Weldebob/pen/WjMLavhttps://codepen.io/Weldebob/pen/WjMLav */
section#section-nosotros .grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 6px;
  height: 100%;
  justify-items: center;
  align-items: center;
}
.grid{
margin: auto;
}
.box {
  display: flex;
  width: 310px;
  height: 350px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #f7efef;
}

.box img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.box h3 {
  margin: 
  5px;
  color: #000;
}

.box p {
  margin: 0px;
  font-size: 15px;
  color: #000;
}
.us{
margin-left: auto;
margin-right: 100px;
}
#contenedor2 {
  margin-top: 5px;
  border-radius: 30px;
  margin-right: 100px; /*FLO AGREGUE ESTO PARA QUE SE CENTRARA*/
  margin-bottom: 70px; 
  background-color: #f7efef;
  margin-left: 100px;
  margin-bottom: 70px;
  text-align: center;
}

/* #contenedor p{
  text-align: justify;
} */

#contenedor2 h2 {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  }

/*Seccion para Acerca de*/
#acerca_de {
margin-top: 70px;
border-radius: 30px;
margin-right: 100px; /*FLO AGREGUE ESTO PARA QUE SE CENTRARA*/
margin-bottom: 70px; 
background-color: #f7efef;
margin-left: 100px;
}
.acerca_de h1 {
margin-top: 70px;
margin-left: 50px;
color:darkgreen;
}

.acerca_de h2 {
margin-left: 50px;
margin-bottom: 50px;
color:rgb(95, 100, 95);
font-size: 20px;
}

.ImagenAcerca img{
width: 100%;
height: 100%;
}

.unete{
margin-top: 5px;
border-radius: 30px;
margin-right: 100px; /*FLO AGREGUE ESTO PARA QUE SE CENTRARA*/
margin-bottom: 70px; 
background-color: #f7efef;
margin-left: 100px;
margin-bottom: 70px;
}
.unete h1{
margin-top: 70px;
color:darkgreen;
font-size: 40px;
text-transform: uppercase;
text-shadow: 0 0 3px;
text-align: center;
}

.unete h2{
margin-top: 70px;
color:darkgreen;
font-size: 30px;
text-shadow: 0 0 3px;
text-align: center;
}

.unete p {
color: darkgreen;
text-align: center;
margin-left: 10px;
margin-right: 10px;
}

.unete h6 {
color: rgb(62, 71, 62);
text-align: center;
font-size: 20px;
}

.unete button{
margin-top: 10px;
background-color: #55B379; 
border: none;
color: rgb(248, 253, 248);
padding: 10px 20px;
font-size: 30px;
border-radius: 15px;
text-size-adjust: 1000px;
width: 300px;
height: 100px;
}

.unete button:hover{
opacity: 0.5;
}


/*Seccion para el registro y Login*/

/*https://www.geeksforgeeks.org/how-to-align-objects-vertically-when-working-with-grids-in-css/*/
.registro {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-left: 0px;
  text-align: left;
}

.column h1#registro {
  margin-top: 30px;
  color:darkgreen;
  text-align: center;
}

.label_registro{
  margin-left: 40px;
  margin-top: 10px;
  /* color:darkgreen; */
  font-size: 20px;
  color:rgb(95, 100, 95);
  font-family: sans-serif;
}


.input{
margin-left: 80px;
margin-right: 30px;
border-radius: 5px;
border-color: #959c98;
border-style: double;
padding-right: 100px;
width: 100px;
height: 25px;

}

#boton_registro{
position: absolute;
padding: 10px;
margin-top: 60px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
position: relative;
width: 20%;
}

#contenedor_registro{
  background-color: #f7efef;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 100px;
  /* border-radius: 30px;
  text-align: center;
  margin-bottom: 1000px; */

}

.column#registro_columna{
  flex: 1000%;
  /* margin-left: 10px; */
  margin-bottom: 80px;
  
}

.column#contenedor_registro{
  flex: 40%;  
  /* margin-left: 10px; */
  flex-wrap: column;
  width: 900px;
  
}

.column img#registro_foto {
  margin-top: 40px;
  margin-left: 100px;
  width: 87%;
  opacity: 0.7;
}

/* Apoyo de Simulacion */

#cant_cacao{
  text-align: center;
}

.Tile{
  background-color: #87ad80;
  width: 100px;
  height: 50px;
}


/*Seccion para preguntas frecuentes*/

.preguntas_frecuentes {
margin-top: 50px;
background-color: #c3dacc;
margin-bottom: 30px;

}

.preguntas_frecuentes h2{
margin-top: 50px;
color: #585d5a;
margin-left: 40px;
}

/*Login*/
#foto_login {
background-image: url('/src/imgs/a2.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
align-self: center;
}

#login1 {
width: 55%;
margin-left: auto;
margin-right: auto;
padding: 20px;
padding-bottom: 30px;
}

#log_foto {
margin-top: 20px;
width:10%;
align-self: center;
opacity: 0.7;

}

.log_in {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.label_login {
float: left;
color:rgb(95, 100, 95);
font-family: sans-serif;
font-size: 20px;

align-self: center;
margin-left: 100px;
}

#boton_login {
position: absolute;
padding: 10px;
left: 32%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
position: relative;
width: 20%;
}

#check{
color:rgb(95, 100, 95);
margin-left: 50px;
float: left;
text-align: left;
font-size: medium;
}

/* Simulador -- Estilos*/

.simulador h2{
  color: darkgreen;
}

.simulador p{
  color: rgb(243, 248, 243);
}

.simulador #contenedor {
  background-color: #87ad80;
  border-radius: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:-10px ;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.simulador #contenedor p {
  text-align: justify;
}

.simulador #contenedor_simulacion {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
  margin-top: 40px;
  background-color: rgb(228, 223, 223);
  border-radius: 30px;
  border-style: ridge;
  border-color: #afc4b6;

}

#contenedor_simulacion1 {
  margin-left: auto;
  margin-right: auto;
  width: 690px;
  height: 100px;
  margin-top: 40px;
  background-color: rgb(228, 223, 223);
  border-radius: 30px;
  border-style: ridge;
  border-color: #afc4b6;

}

.simulador #contenedor_simulacion h3{
  font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 30px;
  color: darkblue;
}

.simulador #contenedor_simulacion p{
  font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 20px;
  color: darkblue;
}

.simulador #contenedor_simulacion input{
  background-color: rgb(205, 205, 229);
  border-radius: 30px;
  border-style: solid;
  width: 100px;
  height: 30px;
}

.simulador #contenedor_receta {
  background-color: #f7f8be;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: 40px;
  width: 400px;
  text-align: center;
  color: darkgreen;
  padding: 10px;
}

#contenedor_receta1 {
  background-color: #f7f8be;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 400px;
  text-align: center;
  color: darkgreen;
  padding: 10px;
}

.simulador #contenedor_receta p {
  margin-bottom: 20px;
  font-size: 16px;
  width: 300px;
  margin-left: 45px;
  text-align: justify;
  color: rgb(45, 55, 45);
}

.simulador label {
  margin-bottom: 200px;
  color: darkgreen;
  font-family: "Dank Mono", ui-monospace, monospace;
}

.grid_container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  grid-template-columns: 300px 300px ;
  grid-template-rows: 100px 100px;
  padding-left: 100px;
}

.grid_container1 {
  display: grid;
  grid-template-columns: 300px 300px ;
  grid-template-rows: 100px 100px;
  margin-left: 150px;
  margin-right: auto;

}

/* .simulador button{
  background-color: rgb(138, 184, 213);
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-color: #afc4b6;
  font-size: 20px;
  color: white;
} */

.simular1 {
  background-color: rgb(138, 184, 213);
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-color: #afc4b6;
  font-size: 20px;
  color: white;
}

.simular1:hover {
  opacity:0.5; 
}

.simular2 {
  background-color: rgb(44, 90, 159);
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-color: #afc4b6;
  font-size: 20px;
  color: white;
}

.simular2:hover {
  opacity:0.5; 
}


.result1 {
  height: 50px;
  width: 200px;
  background-color: #608c6a;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.result1:hover {
  opacity:0.5; 
}

.result2 {
  height: 50px;
  width: 200px;
  background-color: #4f7f9d;
  font-size: 15px;
  border-radius: 10px;
}

.result2:hover{
  opacity:0.5; 
}

.result3 {
  height: 50px;
  width: 200px;
  background-color: #4f7f9d;
  font-size: 15px;
  color: white;
  border-radius: 20px;
}

.result3:hover{
  opacity:0.5; 
}


/* .simulador button:hover{
  opacity:0.5;
} */

.button_enviar button {
  height: 50px;
  width: 200px;
  font-size: 15px;
  margin-top: -40px;
  margin-bottom: 100px;
}

/* .simulador button:active{
  background-color: #3e5e8e;
} */

.simulador #contenedor_resultado{
  background-color: #d6a1a1;
  border-radius: 30px;
  margin-left: 150px;
  margin-right: 100px;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(59, 29, 13);
  height: 300px;
  padding-left: 40px;
  font-size: 30px;
}

.simulador #contenedor_resultado h3{
  margin-left: 50px;
  margin-right: 50px;
  width: 1000px;
  text-align: center;
  color: #f2ecec;
}

.Tile {
  background-color: #d6a1a1;
  border-radius: 10px;
  margin: auto;
  width: 350px;
  height: 80px;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

/* .Tabla {
  color: rgb(9, 46, 77);
  text-align: center;
  justify-items: center;
  margin-top: -100px;
  font-size: 30px;
} */

/*Basdo en https://dev.to/abdulbasit313/an-easy-way-to-create-a-customize-dynamic-table-in-react-js-3igg*/
.tabla_historial{
  width: 330%;
  border-collapse: collapse;
  color:#3e8e41;
  text-align: center;
  justify-items: center;
  margin-top: -110px;
  margin-bottom: 40px;
  margin-left: -400px;
  font-size: 20px;
  border: gray;
  border: solid;
  border-radius: 5px;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.tabla_historial td, .tabla_historial th {
  border: 1px solid #ddd;
  padding: 8px;
}
.tabla_historial tr:nth-child(even){background-color: #f2f2f2;}

.tabla_historial tr:hover {background-color: #ddd;}

.tabla_historial th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #87ad80;
  color: white;
}
.tabla_historial td{
  color: rgb(76, 66, 66);
}

#tabla_simulaciones h2{
  margin-bottom: 70px;
  text-decoration: underline;
  text-align: center;
  justify-items: center;
  font-size: 30px;
}

#tabla_simulaciones{
  margin: auto;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;}

/* Para las reglas de navegacion */

#contenedor_rn{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: #f1f1f1;
}

#contenedor_rn2{
  background-color: #81a890;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  margin-bottom: 50px;
  text-align: center;
  color: #f1f1f1;
}

#contenedor_rn2 p{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  margin-bottom: 50px;
  text-align: justify;
  color: #f1f1f1;
}

#origen{
  text-align: center;
  color: #1a1818;
  padding-right: 204px;
  border-color: rgb(42, 39, 39);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  width: 100px;
  height: 27px;
  border-color: #959c98;
}

.user1{
  /* margin-top: 40px; */
  width: 30px;
  height: 30px;
}

/* POPUP */

.popup-box {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  grid-auto-flow: auto;
}

#box {
  position: relative;
  width: 60%;
  min-height: 300px;
  background-color: rgb(185, 217, 230);
  border: 1px solid #999;
  opacity: 1;
  border-radius: 5px;
  margin: 20px auto;
  margin-top: 150px;
  margin-bottom: 20px;
  height: 450px;
  overflow: auto;
}

.close-icon {
  cursor: pointer;
  border: 1px solid rgb(139, 124, 124);
  background-color: rgb(196, 93, 93);
  color: white;
  border-radius: 50%;
  position: relative;
  margin-left: 800px;
  top: auto;
}

.next-icon {
  cursor: pointer;
  border: 1px solid rgb(135, 139, 124);
  background-color: rgb(160, 162, 102);
  color: white;
  border-radius: 50%;
  padding: 10px;
  position: auto;
  align-items: center;
  margin-bottom: 5%;
}

.prev-icon {
  cursor: pointer;
  border: 1px solid rgb(135, 139, 124);
  background-color: rgb(160, 162, 102);
  color: white;
  border-radius: 50%;
  padding: 10px;
  position: auto;
  align-items: center;
  margin-right: 10px;
}

.popup p{
  margin-left: 50px;
  margin-right: 50px;

  text-align: center;
  font-size: 20px;
  color: #000;
}

.button_instrucciones {
  background-color: #42604b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

#error {
  color: rgb(255, 0, 0) !important;
  font-size: 10px;
  margin-left: -300px;
  margin-top: 30px;

}

#error1 {
  color: rgb(255, 0, 0) !important;
  font-size: 10px;
  margin-left: -250px;
  margin-top: 30px;


}
/* .input{
margin-left: 80px;
margin-right: 30px;
border-radius: 5px;
border-color: #959c98;
border-style: double;
padding-right: 100px;
width: 100px;
height: 25px;

} */